:host {

    border: red 1px solid;
}

.vertical-container {
    display: flex;
    flex-direction: column;

    float: right;

    img {
        margin-bottom: 1rem;
    }

    .komax_logo {
        width: 200px;
    }

    .servus_logo {
        width: 205px;
    }
}