.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 2rem;

    float: right;

    height: 90%;

    border: red 1px solid;
}

.video-container {

}
